<template>
  <footer class="page-footer font-small responsive grey lighten-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">
            Quem somos
          </h5>
          <p class="white-text text-lighten-4 valign-wrapper">
            Nossa empresa é referência nacional em sistemas de automação e
            telemetria. Estamos no mercado há 10 anos, nosso lema é atuar sempre
            com qualidade e segurança, para isso contamos com uma equipe de
            profissionais qualificados e altamente capacitados, que através de
            um atendimento personalizado e exclusivo, trabalham para prover a
            melhor solução de acordo com a sua necessidade.
          </p>
        </div>
        <div class="col l4 s12">
          <h5 class="white-text">
            Empresas do Grupo Saga
          </h5>
          <ul>
            <li>
              <a class="white-text" href="https://sagatechbrasil.com.br/">
                SagaTech
              </a>
            </li>
            <li>
              <a class="white-text" href="https://www.sagamedicao.com.br/">
                Saga Medição
              </a>
            </li>
            <li>
              <a class="white-text" href="https://gaassolucoes.com.br/">
                GAAS
              </a>
            </li>
          </ul>
        </div>
        <div class="col l2 s12">
          <h5 class="white-text">Contatos</h5>
          <ul>
            <li>
              <a
                class="white-text"
                href="https://sagatechbrasil.com.br/contato/"
              >
                <span class="white-text">(38) 3251 2204</span>
              </a>
            </li>
            <li>
              <a
                class="white-text"
                href="https://www.sagamedicao.com.br/contato/"
              >
                <span class="white-text">(38) 3251 4793</span>
              </a>
            </li>
            <li>
              <a class="white-text" href="https://gaassolucoes.com.br/contato/">
                <span class="white-text">(38) 3251 3365</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Copyright © 2020
        <a
          class="white-text text-lighten-3"
          href="http://sagatechbrasil.com.br"
        >
          <b>SagaTech</b>
        </a>
        Todos os Direitos Reservados.
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  /* eslint-disable prettier/prettier */
  name: "NavFooter"
};
</script>

<style>
footer {
  width: 1920px;
}
</style>
